/* Perspective text: https://codepen.io/AdamDipinto/pen/EqxaEO */

.perspective-text {
  color: white;
  font-family: Arial; 
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.perspective-line>p {
  margin: 0;
  height: 50px;
  line-height: 50px;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-line:nth-child(1) {
  left: 29px;
  color: black;
  font-weight: 700;
}

.perspective-line:nth-child(2) {
  left: 58px;
  /* background: #84cdfa; */
  /* background: rgb(200,200,200); */
  background: #f08700;
  font-weight: 700;
}

.perspective-line:nth-child(3) {
  left: 87px;
  /* background: #5ad1cd; */
  /* background: rgb(215,215,215); */
  background: #d67500;
  font-weight: 700;
}

.perspective-line:nth-child(4) {
  left: 116px;
  /* background: #f07e6e; */
  /* background: rgb(230,230,230);*/
  background: #f08700;
  font-weight: 700;
}

.perspective-line:nth-child(5) {
  left: 145px;
  color: black;
  font-weight: 700;
}
